body {
	width: 1200px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	line-height: 21px;
	text-transform: uppercase;
}

.header-one {
	font-size: 21px;
	font-weight: bold;
	color: black;
	line-height: 26px;
}

.header-two {
	font-size: 21px;
	font-weight: bold;
	color: black;
	line-height: 21px;
}

.header-two-catalog {
	font-size: 21px;
	font-weight: bold;
	color: black;
	line-height: 26px;
}

.white-header {
	color: white;
}

.picture {
	width: 100%;
	height: 773px;
	background-image: url(../img/picture.jpg);
}

.welcome-picture {
	margin-top: 76px;
	margin-left: 371px;
}